*{
    margin: 0px;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-style: normal;
    background-image: url('imgs/LOGO.png');
    background-size: 3%;
    background-position-y: center;
}
.trackBlock{
    background-size: 3.4%;
    background-position-y: center;
    max-width: 1000px;
    height: 400px;
    padding: 20px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    margin: 2%;
}
.trackBlockImage{
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0px 0px 5px black;
    float: left;
    width: 55%;
    max-width: 300px;
    transition: 0.3s ease;
}
.trackBlockImage:hover{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.477);
}
.trackText{
    background-color: rgba(255, 255, 255, 0.89);
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.89);
    border: 2px solid white;
    width: 40%;
    word-wrap: break-word;
    height: auto;
    float: right;
    font-size: 20px;
    text-align: left;
    transition: 0.3s ease;
}
.trackText:hover{
    box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.477);
}
.albumName{
    width: 40%;
    margin: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.713);
    padding: 4px;
    border-radius: 5px;
}
.rotatedImg{
    width: 98%;
    max-width: 500px;
    transition: 0.3s ease;
}
.rotatedImg:hover{
    transform: scale(1.02);
}
.allLinks > a{
    color: rgb(0, 26, 255);
    text-decoration: none;
    font-size: 14px;
}
.allLinks > a:hover{
    text-decoration: underline;
}
@keyframes an1 {
    0%{transform: rotateY(0deg);}
    100%{transform: rotateY(360deg);}
}